@import '../../abc';

@mixin square {
    width: 30px;
    height: 30px;
}
.mainComponent {
    width: 55px;
    height: 68px;
    background-color: map-get($colors, "white3");
    border-radius: 30px;
    flex-direction: column;
    @include center;
    cursor: pointer;
    position: relative;
    // @include b;
    @include tablet {
        width: 48px;
        height: 60px;
    }
    @include mobile {
        width: 45px;
        height: 57px;
    }

}
.name {
    margin-top: 34px;
    font-family: $font-1;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    text-transform: capitalize;
    @include mobile {
        font-size: 11px;
        line-height: 5px;
    }
    
}
.img {
    
    // left: 0;
    // right: 0;
    // margin-left: auto;
    
    transition: 0.6s;
    position: absolute;top: 10px;
    
    @include square();
    z-index: 2;
    @include mobile {
        // transform: scale(0.8);
    }
}
