@import '../../abc';

.mainComponent {
    z-index: 5;
    overflow: auto;
    background-color: transparent;
    width: 96%;
    height: 100%;
    position: fixed;
    top: 20%;
    left: 4%;
    @include mt {
        left: 1%;
        width: 98%;
    }
}
.bigIcon{
    height: 90%;
    width: 50%;
    position: fixed;
    left: 49%;
    // @include b;
    transition: 0.8s ease-in;
    @include mt {
      display: none;
    }
    @include portrait {
        display: none;
    }
  }
.leftComponent {
    width: 60%;
    height: 78%;
    // display: block;
    border-radius: 30px;
    // border: 1px solid black;

    z-index: 5;
    flex-direction: column;
    position: relative;
    @include mt {
        width: 100%;
        background-color: #f3ebcd;

    }
    @include portrait {
        width: 100%;
    }
    @include mobile {
            
    }
}
.header {
    font-family: $font-2;
    font-size: 100px;
    @include tablet {
        font-size: 90px;
        margin-left: 30px;
    }
    @include mobile {
        font-size: 60px;
        margin-left: 24px;
    }
    @include mt {
        margin-top: 15px;
    }
}
.afterHeader {
    width: 70%;
    font-family: $font-2;
    font-size: 42px;
    color: map-get($colors, "gray" );
    // @include b;
    word-wrap: break-word;
    @include tablet {
        font-size: 30px;
        margin-left: 30px;
    }
    @include mobile {
        font-size: 24px;
        margin-left: 24px;
    }
}

.button {
    background: rgb(244,165,86);
    width: 156px;
    height: 53px;
    @include center;
    border-radius: 30px;
    margin-left: 70%;
    margin-top: 3%;
    cursor: pointer;
    transition: 0.6s;
    @include tablet {
        margin-top: 5%;
        width: 120px;
        min-height: 43px;
        max-height: 43px;
        margin-left: 65%;
    }
    @include mobile {
        margin-top: 5%;
        margin-bottom: 5%;
        width: 110px;
        min-height: 35px;
        margin-left: 60%;
    }
    @include portrait {
        min-height: 35px;
        max-height: 35px;
    }
}

.textbutton {
    font-family: $font-2;
    font-size: 18px;
    color: map-get($colors, "gray" );
    font-weight:500 ;
    z-index: 5;
    cursor: pointer;
    @include mt {
        font-size: 14px;
    }

}
.arrow {
    width: 16px;
    height: 16px;
    color: map-get($colors, "gray" );
    margin-left: 6px;
    z-index: 5;
    @include mobile {
        width: 14px;
        height: 14px;
    }
}
.recent {
    // margin-top: 80px;
    margin-left: 20px;
    width: 75%;
    // height: 220px;
    // @include b;
    flex-direction: column;
    justify-content:space-between;
    @include mobile {
        margin-left: 0;
        width: 100%
        // flex-direction: column;
    }
    @include tablet {
        margin-left: 0;
        width: 95%;
    }
}
.text1 {
    font-family: $font-1;
    font-size: 18px;
    margin-bottom: 25px;
    color: #BDBDBD;
    font-weight: bold;
    @include tablet {
    //
    margin-left: 30px;
    }
    @include mobile {
        margin-left: 24px;
        // margin-bottom: 30px;
    }
}
.box {
    width: 100%;
    justify-content:space-between;
    // @include b;
    @include tablet {

        width: 95%;
        // align-items: center;
        justify-content:space-around;
        margin-left: 27px;
        margin-right: 27px;
    }
    @include mobile {
        flex-direction: column;
        align-items: center;
        // justify-content: center;
        height: 340px;
        padding-bottom: 10px;
    }
}
